*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(174, 182, 182);
}
.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(rgb(219, 51, 51), rgb(162, 223, 162), rgb(25, 25, 91), alpha);
}