*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(59, 124, 164);
}
.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(253, 195, 4, 0.5);
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.cabecalho{
    height: 20%;
    width: 95%;
    padding: 20%;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: #ffffff solid;
}
.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 4px rgba(253, 195, 4, 0.5);
    color: rgb(221, 131, 21);
}